<h1>Denizen of the library</h1>

Name: <%= @user.name %>

<% if @user == current_user %>
    <%= button_to 'DIE', '/users/destroy', method: :delete %>
    <%= button_to 'LEAVE', '/logout', method: :delete %>
<% end %>